*{
    box-sizing: border-box;
    box-shadow: 30px ;
    margin-left: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.photo img {
    border: 0.1px solid skyblue;
    width: 150px;
    height: 120px;
    margin-left: 15%;
    
}
body{
    
    margin-left:25%;
    width: 50%;
    height: 100%;
    border: 1px solid rgb(50,155, 190);
    box-shadow: 1px 0.5px rgb(50,135, 177);
    /* background-color: thistle; */

}
.app{
    background-color:white ;
}
.heading{
    /* margin-left:auto ;
    margin-right: auto; */
    /* margin: 10%; */
    text-align: center;
}
.heading, .contact, .course, .qualification, .details, .photo {
margin-left:20%;
}
.details .input{
    width: 80%;
    height: 30px;
}

.contact .nm{
    width: 80%;
    height: 30px;
}

.qualification .clg{
    width: 80%;
    height: 30px;
}

.photo .img{
    margin-left: 20%;
}